{% extends 'base.html' %}

{% block body_block %}

    <form method="GET" action="{% url 'movies:search' %}">
        {{ filter.form.as_p }}
        <button type="submit">Search</button>
        <input type="button" onclick="display_random()" value="Display Random" />
    </form>

    <h2>Random Movie</h2>
    <p id="random_title"></p>

    {% for movie in filter.qs %}
        <h2 class="titles">
            {{ movie.pk }}
            <a href="{% url 'movies:detail' pk=movie.pk %}">
                {{ movie.name }} ({{ movie.year }})
            </a>
        </h2>
    {% endfor %}

    <script src="{% static "js/random_title.js" %}"></script>

{% endblock %}