{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="row">
        <div class="col-md-6">
            <h1>Filters</h1>
            <form method="GET" action="{% url 'movies:search' %}">
                {{ filter.form.as_p }}
                <button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i> Search</button>

                {% if filter.qs %}
                    <button type="button" class="btn btn-secondary" onclick="display_random()">
                        <i class='fas fa-sync'></i> Display Random
                    </button>
                {% endif %}
            </form>

            <h2 id="random_movie_heading" style="display: none;" class="text-center">Random Movie</h2>
            <p id="random_title" class="text-center"></p>
        </div>

        <div class="col-md-6">
        <h1 class="text-center">Movie List</h1>
        <div class="row">
        {% for movie in filter.qs %}
            <div class="col-lg-4">
                <div class="img-thumbnail titles">
                    <a href="{% url 'movies:detail' pk=movie.pk %}">
                        <div class="text-center">
                            <img src="{{ movie.thumbnail_url }}" alt="{{ movie.name }} poster"/>
                            <div class="caption">
                                <p>{{ movie.name }} ({{ movie.year }})</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
        {% endfor %}
        </div>
        </div>
    </div>

    <script src="{% static "films/js/random_title.js" %}"></script>

{% endblock %}