<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sup</title>
</head>
<body>
<h1>Movie: {{ movie_detail.name }}</h1>
<h1>Year: {{ movie_detail.year }}</h1>
<h1>Runtime: {{ movie_detail.runtime }}</h1>
<h1>Rating: {{ movie_detail.rating }}</h1>
<h1>Cover Url: <img src="{{ movie_detail.cover_url }}"></h1>
<h1>Plot Outline: {{ movie_detail.plot_outline }}</h1>

<h2>Actors: </h2>
{% for person in movie_detail.cast.all %}
    <p>{{ person.name }}</p>
{% endfor %}
</body>
</html>